.mainContainer {
    display: inline-block;

}

.header {
    align-content: center;
}

.header img {
    height: 100px;
}

.setting {
    float: left;
    display: inline;
    text-align: center;
    margin: 5px;
}

.items {
    border: solid;
    border-width: 1px;
    width: 300px;
    height: 300px;
}

.item {
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-size: small;
    margin: 1px;
}

.item img{
    width: 90px;
}
