.mainContainer {
    display: inline-block;
    position: relative;
}

.alert {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 30px;
    display: none;
    pointer-events: none;
    border-style: inset;
    background: black;
    left: 335px;
    top: 300px;
    color: white;
    padding-top: 10px;
    border-color: #1f1c1a;

}

.header {
    align-content: center;
    font-size: 1.5em;
    text-align: center;
}

.header img {
    height: 100px;
    vertical-align: middle;
}

.footer {
    vertical-align: middle;
    text-align: center;
}

.setting {
    float: left;
    display: inline;
    text-align: center;
    margin: 5px;
    width: 420px;
    height: 432px;
}

.items {
    width: 417px;
    height: 443px;
    margin: 5px;
    display: inline-block;
}

#DUMMY img {
    visibility: hidden;
}

#server .items {
    background-image: url('resources/serverviewlong.PNG');
    background-color: #cccccc;
}

#knapsack .items {
    background-image: url('resources/hackviewlong.PNG');
    background-color: #cccccc;
}

#ratioToggle1 {
    position: absolute;
    left: 25px;
    top: 180px;
    background: transparent;
    border: solid;
    border-color: transparent;

}

.item:nth-child(-n+3) {
    margin-top: 100px;
}

.item {
    display: inline-block;
    text-align: right;
    font-style: italic;
    font-size: small;
    margin: 10px;
    margin-left: 5px;
    margin-right: 35px;
    width: 80px;
}
